<a href="https://colab.research.google.com/github/sadaqatali1234/Deep-learning-assigments/blob/main/Credit_Card_Fraud_Detection_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credit Card Fraud Detection::

Download dataset from this link:

https://www.kaggle.com/mlg-ulb/creditcardfraud

# Description about dataset::

The datasets contains transactions made by credit cards in September 2013 by european cardholders.
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, â€¦ V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-senstive learning. 


### Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

# WORKFLOW :

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Standardized the Input Variables. 

4.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

5.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

6.Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)

7.Train the Model with Epochs (100).

8.If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .

9.Prediction should be > 92%
10.Evaluation Step
11Prediction

# Task::

## Identify fraudulent credit card transactions.

In [ ]:
# importing libaraies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# data loading and reading
card=pd.read_csv("/content/creditcard.csv")
card.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
# check null values of dataframe
card.isnull().any()

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17       False
V18       False
V19       False
V20       False
V21       False
V22       False
V23       False
V24       False
V25       False
V26       False
V27       False
V28       False
Amount    False
Class     False
dtype: bool

In [ ]:
# check duplicated values in dataframe
card.duplicated().any()

True

In [ ]:
# drop duplicated values 
card.drop_duplicates(inplace=True)

In [ ]:
# check duplicated values again
card.duplicated().any()

False

In [ ]:
# check again dataframe shape
card.shape

(283726, 31)

In [ ]:
# dataframe spliting into Data(X) & label (Y)
data=card.iloc[:,:30]
label=card.iloc[:,-1]

In [ ]:
import sklearn
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data,label,test_size=.30,random_state=1)

In [ ]:
X_test

            Time        V1        V2  ...       V27       V28   Amount
33560    37283.0 -1.071719 -4.343904  ... -0.179133  0.236036  1217.00
57869    48115.0  1.314915 -0.980378  ...  0.099256  0.014826    26.31
187479  127554.0 -1.680526 -0.959150  ...  0.231809  0.253554   680.91
243555  151975.0  2.114488  0.169976  ... -0.082360 -0.075323    12.92
96229    65675.0 -5.277692  3.487837  ...  1.383375  0.758996    28.90
...          ...       ...       ...  ...       ...       ...      ...
12016    20784.0  1.284475 -0.528597  ...  0.068018  0.024173    11.85
161025  113799.0  1.864717  0.479145  ... -0.057625 -0.059907    37.93
49523    44099.0 -5.683239 -7.256650  ...  0.613607 -0.316037   329.74
171306  120580.0  2.130134 -0.103248  ... -0.074114 -0.070505     4.49
230338  146291.0  1.790123 -0.676921  ...  0.005490 -0.072756    70.00

[85118 rows x 30 columns]

In [ ]:
mean = X_train.mean(axis=0)
X_train -= mean
std = X_train.std(axis=0)
X_train /= std
X_test -= mean
X_test /= std

In [ ]:
X_train= np.asarray(X_train).astype('float32')
X_test= np.asarray(X_test).astype('float32')
#y_test=np.asarray(y_test).astype("float32")
#y_train=np.asarray(y_train).astype("float32")

In [ ]:
val_x=X_train[:100000]
partial_x_train=X_train[100000:]
val_y=y_train[:100000]
partial_y_train=y_train[100000:]

In [ ]:
from keras import models, layers , optimizers

In [ ]:
network=models.Sequential()
network.add(layers.Dense(6,activation="tanh",input_shape=(X_train.shape[1],)))
network.add(layers.Dense(4,activation="tanh"))
network.add(layers.Dense(1,activation="sigmoid"))

In [ ]:
network.compile(optimizer="adam", loss="binary_crossentropy",metrics=['accuracy'])

In [ ]:

# model training on training data & validation data
history=network.fit(partial_x_train, partial_y_train,epochs=5, batch_size=20, verbose=1,validation_data=(val_x,val_y))

Epoch 1/5
4931/4931 [==============================] - 11s 2ms/step - loss: 0.1313 - accuracy: 0.9668 - val_loss: 0.0034 - val_accuracy: 0.9994
Epoch 2/5
4931/4931 [==============================] - 10s 2ms/step - loss: 0.0030 - accuracy: 0.9995 - val_loss: 0.0031 - val_accuracy: 0.9994
Epoch 3/5
4931/4931 [==============================] - 11s 2ms/step - loss: 0.0032 - accuracy: 0.9993 - val_loss: 0.0030 - val_accuracy: 0.9994
Epoch 4/5
4931/4931 [==============================] - 10s 2ms/step - loss: 0.0024 - accuracy: 0.9995 - val_loss: 0.0030 - val_accuracy: 0.9994
Epoch 5/5
4931/4931 [==============================] - 10s 2ms/step - loss: 0.0023 - accuracy: 0.9996 - val_loss: 0.0029 - val_accuracy: 0.9995

In [ ]:
loss_1, accuracy = network.evaluate(X_test, y_test)

2660/2660 [==============================] - 4s 1ms/step - loss: 0.0034 - accuracy: 0.9994

In [ ]:
x_predict = network.predict(X_test)
x=x_predict//100